/*** Generiek ***/

h1 {
  width: 15em;
  margin: 1em auto;
  padding: 0.25em;
  text-align: center;
  font-size: 2em;
  border: thin solid #888;
  border-radius: 0.25em;
}

/*** Formulier ***/
form {
 width: 30em;
 margin: 2em auto;
 background-color: Ivory;
 padding: 1em;
 box-shadow: 3px 3px 5px #888;
 border-radius: 0.25em;
}
label {
 display: block;
 clear: both;
 width: 80%;
 margin: 1em auto;
}
label.choice {
  float: left; 
  clear: none;
  margin-right: 2em;
  margin-left: 2em;
  width: 5em;
}
fieldset {
    margin-top: 1em;
	padding: 1em;
    box-shadow: 3px 3px 5px #888;
	border-radius: 0.25em;
    background : #F5F5DC;
}
legend {
  font-weight: bold;
  background-color: Ivory;
  padding: 0.2em;
  box-shadow: 3px 3px 5px #888;
  border-radius: 0.25em;
}
input ,select {
  float: right;
  margin-right: 6em;
}
input[type="checkbox"]{
  float: left;
  margin-right: 2em;
}
input[type="radio"]{
  float: left;
  margin-right: 0.5em;
}
input[type="submit"] {
background: linear-gradient(to bottom, #B0B0B0, #F0F0F0 );
border-radius: 0.75em;
}
input:hover[type="submit"] {
background: #DEB887;
}
